@import "tailwindcss";
@source "./src/**/*.{rs,html,css}";

@theme {
    --color-cat-rosewater: hsl(10deg 56% 91%);
    --color-cat-flamingo: hsl(0deg 59% 88%);
    --color-cat-pink: hsl(316deg 72% 86%);
    --color-cat-mauve: hsl(267deg 84% 81%);
    --color-cat-red: hsl(343deg 81% 75%);
    --color-cat-maroon: hsl(350deg 65% 77%);
    --color-cat-peach: hsl(23deg 92% 75%);
    --color-cat-yellow: hsl(41deg 86% 83%);
    --color-cat-green: hsl(115deg 54% 76%);
    --color-cat-teal: hsl(170deg 57% 73%);
    --color-cat-sky: hsl(189deg 71% 73%);
    --color-cat-sapphire: hsl(199deg 76% 69%);
    --color-cat-blue: hsl(217deg 92% 76%);
    --color-cat-lavender: hsl(232deg 97% 85%);
    --color-cat-text: hsl(226deg 64% 88%);
    --color-cat-subtext1: hsl(227deg 35% 80%);
    --color-cat-subtext0: hsl(228deg 24% 72%);
    --color-cat-overlay2: hsl(228deg 17% 64%);
    --color-cat-overlay1: hsl(230deg 13% 55%);
    --color-cat-overlay0: hsl(231deg 11% 47%);
    --color-cat-surface2: hsl(233deg 12% 39%);
    --color-cat-surface1: hsl(234deg 13% 31%);
    --color-cat-surface0: hsl(237deg 16% 23%);
    --color-cat-base: hsl(240deg 21% 15%);
    --color-cat-mantle: hsl(240deg 21% 12%);
    --color-cat-crust: hsl(240deg 23% 9%);
}
